## Aliases
alias ...='cd ../..'
alias ..='cd ..'
alias acs='apt-cache search'
alias agi='sudo apt-get install'
alias diff='diff -u'
alias g='grep'
alias grep='grep --color=auto'
alias igrep='grep -i'
alias l='less'
alias ll='ls -lF'
alias lll='ls -altr'
alias ls='ls -G'
alias py='python'
alias tf='tail -f'
alias t='tail -F'
alias vv='nvim'
