## Aliases
alias ...='cd ../..'
alias ..='cd ..'
alias acs='apt-cache search'
alias agi='sudo apt-get install'
alias c='cd ~/code/'
alias date='date -u ; date'
alias di='dstat -t -M topbio -M topcpu -M topio -M topmem -M topoom  -p '
alias diff='diff -u'
alias e='emacs -nw'
alias ee='edit'
alias g='grep'
alias grep='grep --color=auto'
alias igrep='grep -i'
alias l='less'
alias ll='ls -lF'
alias lll='ls -altr'
alias ls='ls -G'
alias nb='cd $NB'
alias nbb='make distclean && make rpm && sudo yum -y localinstall lib/*.rpm --nogpgcheck && sbounce'
alias nbl='cd /var/log/nb'
alias nbs='cd $NB/nbserver'
alias nbsc='cd $NB/nbserver/config'
alias nbsd='cd $NB/nbserver/data'
alias nbst='cd $NB/nbserver/test'
alias nbss='cd $NB/nbserver/test/system/servlets'
alias nmc='sudo -u nbserver ~nbserver/data/tools/mapconfig.py && sbounce'
alias pc='push-confs'
alias pd='pushd'
alias po='python -O'
alias pp='popd'
alias pr='post-review --diff-only -o'
alias pu='pushd'
alias py='python'
alias rd='rdesktop  -K -r clipboard:CLIPBOARD -P -r disk:home=/home/sbenjamin -N -x l -z -u sbenjamin -d NIMONE -g 1600x1150 nimpc0084'
alias rl='rdesktop  -K -r clipboard:CLIPBOARD -P -r disk:home=/home/sbenjamin -N -x l -z -u sbenjamin -d NIMONE -g 1440x850 nimpc0084'
alias rm='rm -i'
alias s1='screen -d -R -S $(whoami)one'
alias s2='screen -d -R -S $(whoami)_two'
alias s3='screen -d -R -S $(whoami)_three'
alias s4='screen -d -R -S $(whoami)_four'
alias s='ssh -A'
alias sb='s scottb@sbenjamin'
alias sp='ssh -L1666:scm:1666 scottb@sbenjamin.dev.local'
alias sd='ssh -L1677:docs:1666 scottb@sbenjamin.dev.local'
alias se='sudo emacs -nw'
alias sl='screen -list'
alias sr='screen -r'
alias ssh='ssh -A'
alias sufe='sudo su - nbfeeds'
alias sunb='sudo su - nbserver'
alias suns='sudo su - nbsrv'
alias suro='sudo su - root'
alias svc='sudo svc'
alias sx='ssh -c arcfour,blowfish-cbc -XCYA'
alias tf='tail -f'
alias t='tail -F'
alias u='cd ~/code/User/sbenjamin'
alias yi='sudo yum install'
alias yl='yum list'
alias ys='yum search'
