[Desktop Entry]
Type=Application
Name=1Password
Exec=/opt/1Password/1password --silent
Terminal=false
X-GNOME-Autostart-enabled=true
StartupWMClass=1Password
Icon=1password
Comment=Password manager and secure wallet
Categories=Office;
