[Desktop Entry]
Type=Application
Name=Vesktop
Comment=Vesktop autostart script
Exec=/usr/lib/vesktop/vesktop
StartupNotify=false
Terminal=false
Icon=vesktop