spawn-at-startup "waybar"
spawn-at-startup "mako"
// spawn-at-startup ".local/bin/set-gammastep.sh"
spawn-at-startup "nm-applet --indicator"
spawn-at-startup "swaybg" "-o" "DP-1" "-i" "/home/scott/Documents/wallpapers/xoazbpym3gkg1.jpeg" "-m" "fit"
spawn-at-startup "swaybg" "-o" "DP-2" "-i" "/home/scott/Documents/wallpapers/xoazbpym3gkg1.jpeg" "-m" "fit"
spawn-sh-at-startup "swayidle -w timeout 600 'niri msg action power-off-monitors' resume 'niri msg action power-on-monitors' timeout 300 'loginctl lock-session' before-sleep 'swaylock -f -c 000000'"
spawn-at-startup "udiskie" "--smart-tray"


hotkey-overlay {
    skip-at-startup
}

xwayland-satellite {}
clipboard {}
