// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules
workspace "1" {
  open-on-output "DP-1"
}

workspace "2" {
  open-on-output "DP-2"
}
